.git
.gitignore
**/node_modules
**/dist
**/coverage
**/.vite
**/__pycache__
**/*.pyc
**/.pytest_cache
**/target
**/.mypy_cache
**/.ruff_cache
**/*.db
**/*.log
.env
*.env
!.env.example
!**/.env.example
